/* notes */
/* class="" */
/* style="" */
/* desktop */
/* @media screen and (min-aspect-ratio:1/1) {} */
/* mobile */
/* @media screen and (max-aspect-ratio: 1/1) {} */
/* Elements */
* {
  font-family: 'Zen Kurenaido', sans-serif;
}

body {
  text-align: center;
}

/* fonts */
.pacifico {
  font-family: 'Pacifico', cursive;
}

/* {  } */
/* background-color */
.bg-blue {
  background-color: #2C394B;
}

.bg-dark-blue {
  background-color: #082032;
}

.bg-light-blue {
  background-color: #334756;
}

.bg-orange {
  background-color: #FF4C29;
}

/* color */
.c-blue {
  color: #2C394B;
}

.c-dark-blue {
  color: #082032;
}

.c-light-blue {
  color: #334756;
}

.c-orange {
  color: #FF4C29;
}

/* general */
.container-fluid {
  padding: 7% 15%;
}

/* header */
.navbar-custom .navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #FF4C29;
  font-size: 2.5rem;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #334756;
}

.navbar-custom .navbar-nav .nav-link {
  color: #334756;
  font-size: 2rem;
}

.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
  color: #FF4C29;
}

.navbar-custom .navbar-nav .nav-link.disabled {
  color: #2C394B;
}

.navbar-custom .navbar-nav .show>.nav-link,
.navbar-custom .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-custom .navbar-toggler {
  color: #334756;
  border-color: #334756;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-text {
  color: #334756;
}

.navbar-custom .navbar-text a,
.navbar-custom .navbar-text a:hover,
.navbar-custom .navbar-text a:focus {
  color: #FF4C29;
}

.header {
  position: relative;
  padding-bottom: 15%;
  overflow: hidden;
}
.header .container-fluid {
  position: relative;
  z-index: 1;
}
.header .row {
  z-index: 1;
}
.header .cat-head {
  position: absolute;
  top:-15%;
  left:50%;
  height: 150%;
  opacity: 3%;
}
.header .candles {
  position: absolute;
  height: 80%;
  opacity: 7%;
  bottom: -20%;
  right: 33%;
}

.header .row div h1 {
  font-size: 5rem;
}
.header .row div h2 {
  font-size: 5rem;
  padding-bottom: 3.5%;
}
.header .row div h3 {
  font-size: 3rem;
}

/* features */
.bolded {
  font-weight: bold;
}
.underlined {
  text-decoration: underline;
}
.label {
  font-size: 4rem;
}
.label:hover {
  color: #FF4C29;
}
.feature {
  padding: 4%;
}
.feature h1 {
  font-size: 2.5rem;
}
.feature h2 {
  font-size: 2.5rem;
}
.feature h3 {
  font-size: 2rem;
}
/* .carousel-inner {
  margin: 3%;
} */

/* footer */
footer {
  color: #334756;
  font-size: 1rem;
}
footer:hover {
  color: #FF4C29;
}
