a:link, a:visited, body { color: #082032; }
a:hover { color: #FF4C29; }

h1 { font-family: 'Pacifico', cursive; }
h2 { font-family: 'Zen Kurenaido', sans-serif; }
h3 { font-family: 'Zen Kurenaido', sans-serif; }

hr {
  background-color: #2C394B;
  border-style: none;
  position: relative;
  height: 1em;
  width: 33%;
  left: 33%;
  margin: 1em;
}

section {
  width: 100%;
  position: relative;
  text-align: center;
}

.bg-blue { background-color: #2C394B; }
.bg-dark-blue { background-color: #082032; }
.bg-light-blue { background-color: #334756; }
.bg-orange { background-color: #FF4C29; }

.c-blue { color: #2C394B; }
.c-dark-blue { color: #082032; }
.c-light-blue { color: #334756; }
.c-orange { color: #FF4C29; }

.copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.landing {
  position: relative;
  padding-top: 5rem;
  text-align: center;
}
.landing-text {
  position: relative;
  width: 75%;
  left: 12.5%;
}
.landing-anim {
  position: relative;
  padding-bottom: 2rem;
}
.landing-cat {
  position: relative;
  width: 33%;
  left: 16.5%;
}
.landing-bars {
  position: absolute;
  height: 110%;
  bottom: 0;
  right: 48%;
}
